body{
    color:cadetblue;
    background: lightcyan;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(10, 60, 72);
    padding: 20px;
    font-size: 32px;
    color: rgb(114, 206, 197);
}