body{
    color:cadetblue;
    background: lightcyan;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(229, 231, 233);
    padding: 20px;
    font-size: 32px;
    color: rgb(97, 134, 130);
}