body{
    color:cadetblue;
    background: lightcyan;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(91, 148, 162);
    padding: 20px;
    font-size: 32px;
    color: rgb(114, 206, 197);
}

.chamada {
    backgroud: rgb(27, 67, 64)
     padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1 {
    font-sitze: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.categoria {
  padding-left: 20px;
  padding-right: 20px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid rgb(255, 204, 238);
}

