body{
    color:cadetblue;
    background: lightcyan;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(91, 148, 162);
    padding: 20px;
    font-size: 32px;
    color: rgb(114, 206, 197);
}

section {
    backgroud: rgb(27, 67, 64)
    padding-bottom: 80px;
    padding-top: 80px
    display: flex;
    justify-content: center;
}